@import url('https://fonts.googleapis.com/css?family=Amiko');
@import url('https://fonts.googleapis.com/css?family=Ruda');
$colorFirst: #202021;
$lightGreen: #b9e5bc;
h3 {
  font-size: 2em;
   font-family: 'Ruda', sans-serif;
  color: $colorFirst;
  margin-left: 10px;
  font-weight: bold;
}
body{
 font-size: 15px;
  background-color: $lightGreen;
  margin: 0;
  padding: 0;
}

#quoteBox {
	margin: 0 auto;
	font-size: 10px;
margin-top: 30px;
	padding: 50px 50px;
  background-color: #fff;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 10);
	 
  .quote{
font-family: 'Amiko', sans-serif;
 border-left: medium solid black;
  padding: 20px;
  font-size: 2em;
}
  .author{
  font-size: 3em;
  
}
	}



.holder{
  margin: 0 auto;
  width: 500px;
  height: 200px;
  text-align: center;
}

button{
  display: inline-block;
  margin-top: 5px;
  height: 38px;
	font-size: 1em;
			padding: 8px;
   transition: all 0.5s ease;
  i{
  margin-right: 7px;
}
		}



button:hover {
  background: #f7f7f7;
  border: 2px solid #8b8b8b;
  width: 100px;
  height: 50px;
}
